.Services_section {
  background: #ffffff;
  padding: 6em 0em;
  position: relative;
}
.Services_section_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}
.Services_section_area_1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  width: 100%;
}
.Services_section_area_1_title {
  font-size: 50px;
  font-weight: 700;
}
.Services_section_area_1_para {
  font-size: 18px;
  /* margin-top: 10px; */
  font-weight: 400;
  color: #5a6666;
}
.Services_section_area_body {
  margin-top: 3em;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: flex-start;
  grid-gap: 20px;
  gap: 20px;
}
.Services_section_area_body_cont {
  margin-right: 0;
  background: #f6f5f9;
  padding: 2em;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Services_section_area_body_cont_icon {
  width: 150px;
  margin-bottom: 2em;
}
.Services_section_area_body_cont_body1 {
  display: flex;
  flex-direction: column;
}
.getStarted_btn {
  padding: 20px 15px;
  border-radius: 20px;
  border: none;
  background: #127c71;
  color: #fff;
  margin-top: 4em;
}
.Services_section_area_body_cont_title {
  line-height: 1.2;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 0.8em;
}
.Services_section_area_body_cont_para {
  color: #717171;
}
